 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
    *{  
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 20px;
        font-family: 'Poppins', Times, serif;
    }

    body {
            color: #333;
            background-color: #022132;
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            width: 100%;

        }

        .header {
            background-color: #022132;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 30px;
            width: 100%;
        }

    .logo {
            display: flex;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
    }

    .logo img {
            height: 100px;
    }

    .nav-links {
            font-size: 18px;
    }

    .nav-links{
            color: white;
            text-decoration: none;
            margin-left: 30px;
    }

    .logo-section {
            display: flex;
            justify-content: center; 
            align-items: center;   
            font-size: 22px;
            font-weight: bold;
    }

    .logo-section img {
            height: 300px;
    }

    .light-section {
        position: relative; 
        text-align: center;
        color: white;
        background-color: #14828F;
        display: flex;
        justify-content: center; 
        align-items: center;   
        width: 100%;                 
        padding: 50px 40px; 
        /* flex-direction: column; */
        display: block;
    }
    
    .light-section h1 {
        justify-content: center; 
        align-items: center;   
        margin-top: 20px;
        margin-left: 1%;
        background-color: #14828F;
        color: #FDCE61;
        font-size:40px;
        display: flex;
    };

    .dark-section {
        position: relative; 
        text-align: center;
        color: white;
        background-color: #022132;
        /* justify-content: center; Centraliza na horizontal */
        /* align-items: center;   Centraliza na vertical */
        width: 100%;                 
        padding: 100px 100px; 
        /* flex-direction: column; */
        display: block;
    }
    
    .dark-section h1 {
        /* justify-content: center; 
        align-items: center;    */
        margin-top: 40px;
        margin-left: 10%;
        background-color: #022132;
        color: #FDCE61;
        font-size:40px;
        display: flex;
    };

    .forms {
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    };

    .forms label {
        color: white;  
    };

    .atuacao {
            display: flex;
            justify-content: center; 
            align-items: center;   
            font-size: 20px;
            font-weight: bold;
    }

    .atuacao img {
            height: 200px;
            margin-left: 10%;
            margin-top: 50px;
    }

