@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {  
            font-family: 'Poppins', Times, serif;
            font-size: 1rem;
            color: white;
            background-color: #022132;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            width: 100%;
        }
        
        img {
        max-width: 100%;
        height: auto;
        display: block;
        }


        .header {
            background-color: #022132;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 30px;
            width: 100%;
        }

    .logo {
            display: flex;
            align-items: center;
            font-weight: bold;
    }

    .logo img {
        max-height: 100px;
    }

    .nav-links{

        color: white;
        text-decoration: none;
        margin-left: 30px;
    }

    .logo-section {
            display: flex;
            justify-content: center; 
            align-items: center;   
            font-weight: bold;
    }

    .logo-section img {
            max-height: 300px;
    }

    .light-section, .HOME {
        position: relative; 
        text-align: center;
        flex-direction: column; 
        color: white;
        background-color: #14828F;
        display: flex;
        justify-content: center; 
        align-items: center;   
        width: 100%;                 
        padding: 50px 40px; 
    }
    
    .light-section h1 {
        justify-content: center; 
        align-items: center;   
        margin-top: 20px;
        background-color: #14828F;
        color: #FDCE61;
        display: flex;
    }

    .dark-section {
        display: flex;
        flex-direction: column;  /* Empilha os itens (um em cima do outro) */
        align-items: center;     /* Centraliza na HORIZONTAL */
        justify-content: center; /* Centraliza na VERTICAL */
        width: 100%;                 
        padding: 50px 40px; 
        background-color: #022132;
        color: white;
        position: relative;
        
    }
    
    .dark-section h1 {
        align-items: center;
        text-align: center;
        margin-top: 50px;
        color: #FDCE61;
    }

    .dark-section p {
        margin-left: 10%;
        margin-bottom: 40px;
    }

    .forms {
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    };

    .forms label {
        color: white;  
    };

    .atuacao {
    font-size: 1.25rem;  /* opcional, só pra manter tamanho de texto */
    font-weight: bold;
    text-align: center;
}

    .atuacao img {
  max-width: 7rem;      /* ~112 px se 1rem = 16px */
  height: auto;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

    .parceiros img{
        height: 80px;
        width: auto; 
        display: flex;
        margin-top: 80px;   
        margin-bottom: 80px;
        flex-direction: column;
    }