/*Arquivo para manipulação de estilos -> "form.html"*/
/*CSS padrão*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #14828F;
    color: #333;
}

/*Manipulação do card/quadro*/
.form-card {
    border: none;/*sem borda*/
    border-radius: 15px; /*suaviza as pontas*/
    background-color: #f8f9fa;
}

.section-title {
    color: #14828F;
    font-weight: 600; 
    border-left: 5px solid #FDCE61; /*borda da esquerda dentro do card*/
    padding-left: 10px;/*espaçamento na esquerda*/
}

.form-label {
    color: #022132;
    font-weight: 500;
}

/*Manipulação do botão*/
.btn-primary-custom {
    background-color: #14828F;
    border: none; /*sem borda*/
    color: white;
    font-weight: 600;
    padding: 12px; /*tamanho do botão*/
    transition: all 0.3s ease; /*transição suave*/
}

/*Manipulação do botão ao apontar o mouse*/
.btn-primary-custom:hover {
    background-color: #022132;
    color: #FDCE61;
}

.table-hover tbody tr:hover {
    background-color: rgba(20, 130, 143, 0.05); /*cor do botão em áreas de interesse*/
}

