/*Arquivo global para manipulações de cabeçalhos e rodapés -> "index.html" e "form.html"*/
/*Arquivo padrão CSS*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*import de uma fonte de letras externa*/


/*CSS padrão da página*/
* {
    margin: 0; /*espaçamento entre linhas*/
    padding: 0; /*remove o espaçamento interno, fazendo que encaixe perfeitamente na tela*/
    box-sizing: border-box; /*tamanho fixo*/
}

/*CSS padrão da página*/
body {  
    font-family: 'Poppins', sans-serif; 
    font-size: 1rem; /*tamanho adaptável para responsividade*/
    color: white; 
    background-color: #022132; 
    min-height: 100vh; /* Altura mínima de 100% da tela */
    display: flex; 
    flex-direction: column; /*direção em colunas*/
}

/*CSS padrão de imagem da página*/
img {
    max-width: 100%; /*ocupa 100% da imagem*/
    height: auto; /*altura automática para não ter distorção*/
    display: block; /*display block para não ter manipulação de posição*/
}

/*CSS padrão de links da página*/
a {
    color: #022132;
    text-decoration: none; /*elimina o sublinhado em links*/
}

/*cabeça~ho CSS padrão*/
.header {
    background-color: #022132;
    color: white;
    display: flex; 
    align-items: center; /*alinha os itens no centro*/
    justify-content: space-between; /*coloca os textos com espaço entre eles*/
    padding: 7px 30px; /*altura e largura do navbar*/
    width: 100%; 
}

/*formato da logo padrão dentro do cabeçalho*/
.logo {
    display: flex;
    align-items: center; /*alinha a logo no centro*/
}

/*formato da logo padrão dentro do cabeçalho*/
.logo img {
    max-height: 100px; /*altura máxima da imagem*/
}

/*CSS para referências a outros html's padrão*/
.nav-links{
    color: white;
    text-decoration: none; /*elimina o sublinhado das referências*/
    margin-left: 30px; /*espaçamento da esquerda*/
}

/*CSS para rodapés padrão*/
.footer {
    background-color: #022132;
    color: #FDCE61; 
    padding: 20px; /*tamanho do rodapé*/
    width: 100%; /*Ocupa 100% da tela*/
    margin-top: auto; /*margem automatizada para a centralização e responsividade*/
    border-top: 3px solid #14828F; /*borda do topo*/
}

/*CSS para textos em rodapés padrão*/
.footer p {
    margin: 0; /*espaçamento entre linhas*/
    font-size: 0.9rem; /*tamanho adaptável para ser responsivo*/
}

/*CSS para links em rodapés padrão*/
.footer a {
    color: white; 
    text-decoration: none; /*Elimina sublinhados de links*/
}

/*CSS ao apontar o mouse em links do rodapé*/
.footer a:hover {
    color: #FDCE61; 
}

/*CSS para imagens em rodapés padrão*/
.footer img {
    max-height: 60px; /*tamanho da imagem*/
    width: auto; /*largura automatizada para não distorcer a imagem*/
    margin-right: 1.5rem; /*margem adaptável e responsiva*/
}