  /*Arquivo para manipulação de estilos -> "index.html"*/

/*Posição da imagem de HOME*/
.logo-section {
    display: flex;
    justify-content: center; /*Centraliza o conteúdo vertical*/
    align-items: center;   /*Centraliza o conteúdo horizontal*/
    font-weight: bold; /*Deixa destacado*/
}

.logo-section img {
    max-height: 300px; /*tamanho máximo*/
}

/*Seção HOME ao abrir a página*/
.HOME {
    position: relative; /*posiciona sem alterar o layout*/
    text-align: center; /*centraliza o texto no centro*/
    flex-direction: column; /*empilha verticalmente*/
    color: white;
    background-color: #14828F;
    display: flex; 
    justify-content: center; /*centraliza na vertical*/
    font-size: 50px; /*tamanho das letras*/
    align-items: center;   /*centraliza na horizontal*/
    width: 100%;  /*ocupa 100% da sua largura*/               
    padding: 120px; /*altura da seção*/
}

/*seções claras exceto HOME*/
.light-section {
    position: relative; 
    text-align: center; /*centraliza o texto*/
    color: white;
    background-color: #14828F;
    width: 100%;  /*ocupa 100% da sua largura*/                
    padding: 50px; /*altura da seção*/
    position: relative; /*posiciona sem alterar o layout*/
}

/*Titulo da seção*/
.light-section h1 {
    justify-content: center; /*centraliza na vertical*/
    align-items: center;   /*centraliza na horizontal*/
    margin-top: 20px; /*margem no topo*/
    background-color: #14828F;
    color: #FDCE61;
    display: flex;
}

/*Titulo da seção*/
.light-section h4 {
    color: #FDCE61;
}

/*Lista da seção*/
.light-section ul {
    list-style-position: inside; /*coloca os elementos dentro da lista */
    padding-left: 0; /*remove o padding da lista */
}

/*elementos da lista*/
.light-section ul li {
    margin-bottom: 0.5rem; /*coloca um pequeno espaço entre os elementos*/
}

/*Seções escuras*/
.dark-section {
    display: flex;
    flex-direction: column;  /*empilha na vertical*/
    align-items: center;     /*centraliza na horizontal */
    justify-content: center; /*centraliza na vertical */
    width: 100%;  /*ocupa 100% de sua largura*/               
    padding: 70px; /*altura da seção*/ 
    background-color: #022132;
    color: white;
    position: relative; /*posiciona sem alterar o layout*/
}

/*Titulo da seção*/
.dark-section h1 {
    align-items: center; /*centraliza na horizontal*/
    text-align: center; /*centraliza na vertical*/
    margin-top: 50px; /*margem ao topo*/
    color: #FDCE61;
}

/*Texto da seção*/
.dark-section p {
    margin-bottom: 40px; /*margem debaixo*/
}

/*seção da área de atuação*/
.atuacao {
    font-size: 1.25rem;  /*Alteração no tamanho da fonte para mais destaque*/
    font-weight: bold; /*destaca o texto*/
    text-align: center; /*alinha o texto horizontalmente*/
}

/*icone do accordion*/
.atuacao-accordion-icon {
    max-width: 4rem; /*tamanho responsivo*/
    height: auto; /*altura automatizada pra não ter distorção*/
    margin-right: 1em; /*tamanho responsivo*/
}

/*accordion da seção*/
.atuacao-accordion-item {
    border: 3px solid #022132 !important; /*sobrepõe a borda*/ 
    border-radius: 0.5em; /*suaviza a borda*/
    overflow: hidden; /* garante que não transborde*/
}

/*botão do accordion*/
.accordion-button {
    background-color: #ffffff !important; /*Sobrepõe para fundo branco*/
    color: #022132 !important;           /*Sobrepõe para texto escuro*/
    font-size: 1.25rem; /*Alteração no tamanho da fonte para mais destaque*/
    font-weight: 600;   /*Texto em negrito*/
    box-shadow: none !important; /* remove a sombra padrão do Bootstrap ao focar*/
    min-width: 100px; /*tamanho uniforme*/
}

/*botão quando o accordion está fechado*/
.accordion-button.collapsed {
    background-color: #ffffff !important; /*Sobrepõe para fundo branco*/
    color: #022132 !important;           /*Sobrepõe para texto escuro*/
}

/*seta do accordion*/
.accordion-button::after {
    /*Filter muda a cor da seta*/
    justify-content: right;
    filter: invert(12%) sepia(35%) saturate(3333%) hue-rotate(170deg) brightness(97%) contrast(97%);
}

/*o conteúdo do accordion*/
.accordion-body {
    background-color: #ffffff;
    color: #333; 
    font-weight: 500; /*grossura da letra*/
    height: 175px; /*tamanho da caixa aberta*/
}

/*Imagens em parceiros*/
.parceiros img {
    display: inline-block;     
    vertical-align: middle; /*alinha as logos na horizontal*/
    height: 80px; /*altura fixa*/
    width: auto;  /* largura automática para não distorcer */
    margin-top: 2rem;   /*tamanho responsível*/
    margin-bottom: 2rem; /*tamanho responsível*/
    margin-left: 1rem; /*tamanho responsível*/
    margin-right: 1rem; /*tamanho responsível*/
}

/*imagem específica que utiliza parceiros como classe e precisa de modificações*/
.parceiros img[src*="UF-logo.png"] {
    width: 250px; /*largura*/
    height: auto; /*altura automatizada pra não distorcer*/
    margin-top: 50px; /*margem do topo*/
}

/*imagem de publicações*/
.publicacoes img{
    border-radius: 15px; /*suaviza a borda*/
    margin-top: 10px; /*margem ao topo para centralizar*/
    height: auto; /*altura automatizada pra manter a imagem original*/
    width: auto; /*largura automatizada pra manter a imagem original*/

}

/*botão de contato*/
.button-contato {
    display: block;        
    margin-left: auto;      /*margem para a esquerda */
    margin-right: auto;     /*margem para a direita */
    width: 100%;            /*ocupa 100% de sua largura*/
    max-width: 300px;     /* largura */
    padding: 12px;        /*altura*/
    text-align: center;  /*centraliza o texto*/
    color: white;
    background-color: #14828F;
    margin-bottom: 15px; /*margem abaixo*/
    cursor: pointer; /*elemento clicável*/
}